# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
*.html
*.parquet

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# Ignore notebook results
notebooks/results/
notebooks/*.txt

# Ignore logs
scripts/results/logs/

# Ignore data
data/

# Ignore private files and select folders
private/
notebooks/private/

# Ignore running marimo files
app/__marimo__/*