# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
*.html
*.txt
*.csv
*.parquet

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store

# Ignore results
notebooks/results/

# Ignore private files
private/